<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
</head>
<body>
    <h1>PEDIDOS</h1>
    <a href="/administrador">voltar</a>
    <main>
        <ul style="list-style:none">
        <div id="pedidos">
        <%for(let i=0;i<pedidos.length;i++){%>     
            <li>
                <p>PEDIDO: <%= pedidos[i].id %></p>
                <p>Preço: R$ <%= pedidos[i].preco %></p>
                <p>STATUS: <%= pedidos[i].status %></p>
                <p>Quantidade: <%= pedidos[i].quantidade %></p>
                <p>Valor total: R$<%= pedidos[i].valor %></p>
                <div id="emaberto">
                    <form action="/gerenciar_pedido" method="post">
                        <input type="hidden" name="pedido" value="<%= pedidos[i].id %>">
                        <input type="hidden" name="action" value="2">
                        <button type="submit">ABERTO</button>
                    </form>
                </div>
                <div id="aceitar">
                    <form action="/gerenciar_pedido" method="post">
                        <input type="hidden" name="pedido" value="<%= pedidos[i].id %>">
                        <input type="hidden" name="action" value="3">
                        <button type="submit">FINALIZAR</button>
                    </form>
                </div>
                <div id="cancelar">
                    <form action="/gerenciar_pedido"  method="post">
                        <input type="hidden" name="pedido" value="<%= pedidos[i].id %>">
                        <input type="hidden" name="action" value="4">
                        <button type="submit">CANCELAR</button>
                    </form>
                </div>
            </li>
        <% } %>
        
        </div>
        </ul>
    </main>
    
</body>
</html>