<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <a href="/cardapio">voltar</a>
    <main>
        <div id="cart">
            <h2>CARRINHO</h2>
            <ul style="list-style:none">
                <% if(pedido[0].msg){%>
                    <li><p><%= pedido[0].msg %></p></li>
                    <%}else if(prod[0].msg){%> 
                    <li><p><%= prod[0].msg %></p></li>
                    <%}else{%>  
                <%for(let i=0;i<pedido.length;i++){%>                                      
                    <li id="info_prod">
                        <div>
                        <p><%= prod[i][0].descr %></p>
                        <p>R$<%= prod[i][0].preco %></p>                          
                        </div>
                        <div id="alterar">
                        <form action="/editar_quant" method="post">
                            <p><%= pedido[i].quantidade %></p>
                            <input type="hidden" name="pedido" value="<%= pedido[i].id %>">
                            <input type="hidden" name="produto" value="<%= prod[i][0].id %>">
                            <input type="number" style="width: 50px;" name="quant" min="0" oninput="validity.valid||(value='');" value="<%= pedido[i].quantidade %>">                          
                            <button type="submit" >Alterar quantidade</button>
                        </form>     
                        </div>
                        <div id="excluir">
                            <form action="/deletar_item" method="post">
                            <input type="hidden" name="detalhe_pedido" value="<%= pedido[i].id %>">
                            <input type="hidden" name="pedido" value="<%= pedido[i].id_pedido %>">
                            <input type="hidden" name="produto" value="<%= prod[i][0].id %>">                       
                            <button type="submit" >X</button>
                            </form>                            
                        </div>
  
                    </li>
                    <% } %>
                    
            </ul>
            <div>
                <p>valor total: R$ <%= valor %> </p>
            </div>
            <form action="/listar_pedido" method="post">
                <input type="hidden" value="sessao_pedido">
                <input type="hidden" name="cart" value="1">
                <button type="submit">FINALIZAR</button>
            </form>
            <% } %>
        </div>
    </main>
</body>
</html>