<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
</head>
<body>
    <a href="/carrinho">voltar</a>
    <main>
        <div id="cart">
            <h2>Seu carrinho tem:</h2>
            <ul style="list-style:none">
                <% if(pedido[0].msg){%>
                    <li><p><%= pedido[0].msg %></p></li>
                    <%}else if(prod[0].msg){%> 
                    <li><p><%= prod[0].msg %></p></li>
                    <%}else{%>  
                <%for(let i=0;i<pedido.length;i++){%>                                      
                    <li id="info_prod">
                        <div>
                        <p><%= prod[i][0].descr %></p>
                        <p>R$<%= prod[i][0].preco %></p>     
                        <p><%= pedido[i].quantidade %></p>                     
                        </div>
                    </li>
                    <% } %>
                    <% } %>
            </ul>
            <div id="status">
            <% if(status){%>
                <p><%= status.msg %></p>
                <a href="/cardapio">Voltar para o cardapio</a>
            <% } %>   
            </div>
            <div>
                <p>valor total</p>
            </div>
            <form action="/finalizar" method="post">
                <button type="submit">FINALIZAR COMPRA</button>
            </form>
        </div>
    </main>
</body>
</html>