<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuarios</title>
</head>
<body>  
    <header>
        <h1>Alterar</h1>
        <% if(erro){ %>
            <ul><% for(let i = 0; i < erro.length; i++ ){%>
               <li><%= erro[i].msg %></li> 
                <% } %>
            </ul>
        <% } %>
    </header>
    <main>
        <form action="/alterar_admin" method="post">
            <label for="nome">Usuario</label>
            <input type="text" name="nome" value="<%= usuario.nome%>">
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= usuario.email%>">
            <br><label for="tipo">Tipo Atual</label>
            <p><%= usuario.descr%></p>
            <label for="tipo_usuario">Mudar para: </label>
            <select name="id_tipo_usuario" id="tipo_usuario">
                <option value="1">Admin</option>
                <option value="2">Cliente</option>
            </select>
            <input type="hidden" value="<%= usuario.id %>" name="id">
            <button type="submit">Alterar</button>
        </form>
    </main>
    <footer>
        <a href="/administrador">voltar</a>
        <p>Restaurante do IAGO CRUZ</p>
    </footer>
</body>
</html>
