<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
<header>
    <h1>tela admin</h1>
    <%- include("../../public/menu_admin/menus.html") %>
</header>
<main>
    <section>
        <div id="informacoes">
            <div id="t_user">
                <% if(usuario[0].msg){ %>
                <p><%= usuario[0].msg %></p>
                <% }else{ %>
                <table>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Função</th>
                        <th></th>
                    </tr>
                    <% for(let i=0;i<usuario.length;i++){%>
                    <tr id="info_user">
                        <th><%= usuario[i].nome %></th>
                        <th><%= usuario[i].email %></th>
                        <th><%= usuario[i].descr %></th>
                        <th>
                            <form action="/editar_user" method="post">
                                <input type="hidden" name="id_usuario" value="<%= usuario[i].id %>">
                                <button type="submit" >ED</button>
                            </form>
                        </th>
                    </tr>
                    <% } %>
                </table>
                <% } %>
                <div>
                    <form action="/cadatrar_usuario" method="post">
                        <button type="submit">Cadastrar Usuario</button>
                    </form>
                </div>
            </div>
            <div id="t_prod">
                <% if(prod[0].msg){ %>
                <p><%= prod[0].msg %></p>
                <% }else{ %>
                <table>
                    <tr>
                        <th>Descrissão</th>
                        <th>Preço</th>
                        <th>Forncedor</th>
                        <th></th>
                    </tr>
                    <% for(let i=0;i<prod.length;i++){%>
                    <tr id="info_prod" <%= prod[i].id %>>
                        <th><%= prod[i].descr %></th>
                        <th>R$ <%= prod[i].preco %></th>
                        <th><%= prod[i].nome %></th>
                        <th>
                            <form action="/editar_prod" method="post">
                                <input type="hidden" name="id_prod" value="<%= prod[i].id %>">
                                <button type="submit" >ED</button>
                            </form>
                        </th>
                    </tr>
                    <% } %>
                </table>
                <% } %>
                <div>
                    <form action="/cadastrar_prod" method="post">
                        <button type="submit">Cadastrar Produto</button>
                    </form>
                </div>
            </div>
            <div id="t_fornecedores">
                <% if(fornecedor[0].msg){ %>
                <p><%= fornecedor[0].msg %></p>
                <% }else{ %>
                <table>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cnpj</th>
                        <th></th>
                    </tr>
                    <% for(let i=0;i<fornecedor.length;i++){%>
                    <tr id="info_fornecedor">
                        <th><%= fornecedor[i].nome %></th>
                        <th>R$ <%= fornecedor[i].email %></th>
                        <th><%= fornecedor[i].cnpj %></th>
                        <th>
                            <form action="/editar_fornecedor" method="post">
                                <input type="hidden" id="id_fornecedor" value="<%= fornecedor[i].id %>">
                                <button type="submit" >ED</button>
                            </form>
                        </th>
                    </tr>
                    <% } %>
                </table>
                <% } %>
                <div>
                    <form action="/cadastrar_forncedor" method="post">
                        <button type="submit">Cadastrar Fornecedor</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p>Restaurante do IAGO CRUZ</p>
</footer>
<script src="script.js"></script>
</body>
</html>
