<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- if(usuario.descr == "cliente"){include("../../public/menu_user/menus.html")}%>
        <%- else{include("../../public/menu_admin/menus.html")}  %>
    </header>
    <main>
        <% if(usuario){%>
        <section style="display: flex; flex-direction: column; gap: 10px; margin-top: 30px;">
            <span><%= usuario.nome%></span>
            <span><%= usuario.email%></span>
            <span><%= usuario.descr%></span>
        </section>
        <% } %>
        <br><br>
        <a href="/page_alterar">ALTERAR</a>
        <a href="/encerrar_sessao">Sair</a>
    </main>

</body>
</html>