<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
</head>
<body>
    <header>
        <%- include("../../../public/menu_admin/menus.html") %>
    </header>
    <main>
        <% if(erro){ %>
            <ul><% for(let i = 0; i < erro.length; i++ ){%>
               <li><%= erro[i].msg %></li> 
                <% } %>
            </ul>
        <% } %>
        <section>
            <div id="cadastro">
                <form action="/cad_prod" method="post">
                    <label for="descr">Nome</label>
                    <input type="text" name="descr" id="nome" value="<%= prod.descr%>">
                    <label for="preco">Preço</label>
                    <input type="text" name="preco" id="preco" value="<%= prod.preco%>">
                    <select name="fornecedor" id="fornecedor" value="">
                    <option value=""></option>
                    <% if(fornecedor[0].msg){%>
                    <p><%= fornecedor[0].msg%></p>
                    <% }else{ %>
                    <%for(let i = 0; fornecedor.length > i; i++){%>
                        <option value="<%= fornecedor[i].id%>"><%= fornecedor[i].nome%></option>
                    <%}%>
                    </select>
                    <%}%>
                    <button type="submit">Cadastrar Produto</button>
                </form>
                <a href="/administrador">voltar</a>
            </div>
        </section>
    </main>
    <footer><h6>Resaturande do Iago Cruz</h6></footer>
</body>
</html>